.App {

  /* Grid parent */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;

  justify-content: left;
  text-align: left;
}

.item {
  border-radius: 10px;
}

.item .item-heading {

  margin: 0;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.item .item-content {

  min-height: 10rem;

}

.item.red {
  background-color: pink;
}

.item.red .item-heading {
  background-color: red;
}

.item.green {
  background-color: lightgreen;
}

.item.green .item-heading {
  background-color: green;
}

.item.blue {
  background-color: lightblue;
}

.item.blue .item-heading {
  background-color: blue;
}

h2 { margin: inherit; }
