.Display {

  /* Grid child */
  grid-column: 1;
  grid-row: 1;

  /* Grid parent */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;

}

#preview {

  grid-column: 1;
  grid-row: 1;

}

#raw-html {

  grid-column: 1;
  grid-row: 2;

}
